body {
    background: black;
}

p {
  margin: 5px 0;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.fieldOfVision {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid black;
}

.gridItem {
  height: 20px;
  width: 20px;
  background: purple;
  color: yellow;
}

.boss {
  height: 20px;
  width: 20px;
  background: grey;
  color: red;
  text-align: center;
}

.slime {
  height: 20px;
  width: 20px;
  background: green;
  color: yellow;
  text-align: center;
}

.wall {
  height: 20px;
  width: 20px;
  background: black;
}

.user {
  height: 20px;
  width: 20px;
  background: yellow;
  text-align: center;
  font-weight: bold;
}

.stats {
  margin-left: 225px;
  color: white;
}

.message {
  color: green;
}