.App {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.fieldOfVision {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid black;
}

.gridItem {
  height: 50px;
  width: 50px;
  background: purple;
}

.user {
  height: 50px;
  width: 50px;
  background: yellow;
}